:root {
    --pretoK: rgb(#0f0f0f);
    --brancoK: rgb(#f5f5f5);
    /* paleta laranja */
    --larcal: rgb(#F94181);
    --laropca: rgb(#CF2360);
    --larlar: rgb(#FA2A73);
    --larescopc: rgb(#AD1D50);
    --larescur: rgb(#8B1840);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        scrollbar
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: #8B1840;
    border: 4px solid transparent;
    border-radius: 11px;
    background-clip: content-box;
    height: 30px;
}

::-webkit-scrollbar * {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F94181;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        HEADER
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

.navbar {
    background: linear-gradient(90deg, #8B1840 65%, #F94181 100%);
    display: flex;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
    height: 90px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#logo-nav {
    padding-left: 20px;
    transition: 0.3s;

}

#logo-nav:is(:hover, :focus) {
    transform: scale(0.95);
    rotate: -3deg;
}

.Nav-Itens {
    display: flex;
    position: relative;
    padding-left: 100px;
}

.Nav-Item {
    color: #f5f5f5;
    font-family: Poppins;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
}

.Nav-Item:hover {
    display: flex;
    justify-content: center;
    background-color: #F94181;
    cursor: pointer;
}

.Arealog {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    align-self: center;
    align-items: center;
}

.Regis {
    font-family: Poppins;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.3s;
}

.Regis:is(:hover, :focus) {
    transform: scale(1.2);
    color: #8B1840;
}

.entrar {
    font-family: Poppins;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 20px;
    width: 100px;
}

.button {
    background-color: #8B1840;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    cursor: pointer;
    transition: 0.3s;
}

.button:is(:hover, :focus) {
    background-color: #FA2A73;
    border: 2px solid #8B1840;
    color: #8B1840;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        cartao
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

.cartao-C {
    display: grid;
    margin-top: 150px;
    justify-content: center;
    gap: 20px;
}
.cart1,
.cart2,
.cart3 {
    transition: 0.3s;
}
.cart1 {
    height: 500px;
}
.cart2, .cart3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    background-color: #f5f5f5;
    box-shadow: 0px 5px 10px 0px #f94181a8;
    border-radius: 10px;
    width: 480px;
    height: 250px;
}

.tituloh3 {
    color: #F94181;
    font-family: poppins;
    font-weight: 700;
    font-size: 28px;
    text-decoration: none;
    margin: 0px;
}

.eleCart {
    align-self: center;
    padding-top: 40px;
    padding-right: 60px;
}

.cartaoelem {
    display: flex;
    justify-content: center;
}

.textCart {
    color: #0f0f0f;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.iconeCard {
    align-self: flex-end;
    padding-bottom: 30px;
    height: 120px;
}

.visao {
    height: 85px;
    padding-left: 30px;
}

.justica {
    height: 120px;
    padding-left: 130px;
}

.cart1:hover {
    rotate: -3deg;
}

.cart2:hover {
    rotate: 3deg;
}
