:root {
    --pretoK: rgb(#0f0f0f);
    --brancoK: rgb(#f5f5f5);
    /*paleta azul*/
    --azucal: rgb(#3385F1);
    --azuopca: rgb(#2C73CF);
    --azuazu: rgb(#3489FA);
    --azuescopc: rgb(#2460AD);
    --azuescur: rgb(#163A69);
    /* paleta laranja */
    --larcal: rgb(#F94181);
    --laropca: rgb(#CF2360);
    --larlar: rgb(#FA2A73);
    --larescopc: rgb(#AD1D50);
    --larescur: rgb(#8B1840);
}html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}
/* icajdcjaudacuwdnanwcdcacnda
            header
diqcj9uqncwiudnqijcdwqiuwncd */
/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        scrollbar
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: #8B1840;
    border: 4px solid transparent;
    border-radius: 11px;
    background-clip: content-box;
    height: 30px;
}

::-webkit-scrollbar * {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F94181;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        HEADER
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

.header {
    background: linear-gradient(90deg, #8B1840 65%, #F94181 100%);
    display: flex;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
    height: 90px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#logo-header {
    padding-left: 20px;
    transition: 0.3s;

}

#logo-header:is(:hover, :focus) {
    transform: scale(0.95);
    rotate: -3deg;
}

.item {
    color: #f5f5f5;
    font-family: Poppins;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
}

.item:hover {
    display: flex;
    justify-content: center;
    background-color: #F94181;
    cursor: pointer;
}

.itens {
    display: flex;
    position: relative;
    padding-left: 100px;
}

.arealog {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    align-self: center;
    align-items: center;
}

.regis {
    font-family: Poppins;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.3s;
}

.regis:is(:hover, :focus) {
    transform: scale(1.2);
    color: #8B1840;
}

.entrar {
    font-family: Poppins;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 20px;
    width: 100px;
}

.button {
    background-color: #8B1840;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    cursor: pointer;
    transition: 0.3s;
}

.button:is(:hover, :focus) {
    background-color: #FA2A73;
    border: 2px solid #8B1840;
    color: #8B1840;
}
.cart {
    transition: 0.3s;
}

.sobreCart {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    gap: 50px;
}

.cartao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 5px 10px 0px #f94181a8;
    border-radius: 10px;
    width: 350px;
    height: 350px;
    transition: 0.3s;
}

.titulo {
    color: #F94181;
    font-family: poppins;
    font-weight: 700;
    font-size: 28px;
    margin: 0px;
    transition: 0.3s;
}

.elecart {
    display: none;
}

.visao {
    height: 85px;
}

.justica {
    height: 120px;
}

.cart:hover .cartao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 5px 10px 0px #8B1840;
}