:root {
    --pretoK: rgb(#0f0f0f);
    --brancoK: rgb(#f5f5f5);
    /* paleta laranja */
    --larcal: rgb(#F94181);
    --laropca: rgb(#CF2360);
    --larlar: rgb(#FA2A73);
    --larescopc: rgb(#AD1D50);
    --larescur: rgb(#8B1840);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        scrollbar
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-thumb {
    background-color: #8B1840;
    border: 4px solid transparent;
    border-radius: 11px;
    background-clip: content-box;
    height: 30px;
}

::-webkit-scrollbar * {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #F94181;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        HEADER
auchbwubqcbwhadcbuhabwchbdhucbahudcba */

.navbar {
    background: linear-gradient(90deg, #8B1840 65%, #F94181 100%);
    display: flex;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 2;
    height: 90px;
}

#logo-nav {
    padding-left: 20px;
    transition: 0.3s;

}

#logo-nav:is(:hover, :focus) {
    transform: scale(0.95);
    rotate: -3deg;
}

.Nav-Itens {
    display: flex;
    position: relative;
    padding-left: 100px;
}

.Nav-Item {
    color: #f5f5f5;
    font-family: Poppins;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: 0.3s;
}

.Nav-Item:hover {
    display: flex;
    justify-content: center;
    background-color: #F94181;
    cursor: pointer;
}

.Arealog {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 100px;
    align-self: center;
    align-items: center;
}

.Regis {
    font-family: Poppins;
    font-weight: 300;
    color: #f5f5f5;
    font-size: 15px;
    transition: 0.3s;
}

.Regis:is(:hover, :focus) {
    transform: scale(1.2);
    color: #8B1840;
}

.entrar {
    font-family: Poppins;
    font-weight: 500;
    color: #f5f5f5;
    font-size: 20px;
    width: 100px;
}

.button {
    background-color: #8B1840;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    cursor: pointer;
    transition: 0.3s;
}

.button:is(:hover, :focus) {
    background-color: #FA2A73;
    border: 2px solid #8B1840;
    color: #8B1840;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        DROPDOWN
auchbwubqcbwhadcbuhabwchbdhucbahudcba */
.dropdown {
    display: inline-block;
}

.dropdownOp {
    opacity: 0%;
    transition: 0.5s;
}

.dropdown-item-content {
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    padding-left: 20px;
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    background-color: #8B1840;
    height: 106px;
    width: 122px;
    top: 90px;
    left: 268px;
    padding-bottom: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.drop-list-item-link {

    font-size: 18px;
    text-decoration: none;
    color: #f5f5f5;
    font-family: Poppins;
}

.drop-list-block-link {
    background-color: #8B1840;
    height: 30px;
    width: 110px;
    padding: 6px;
    transition: 0.3s;
}

#droplink {
    height: 70px;
}

#drop-peticoes-block {
    border-bottom-right-radius: 20px;
}

#drop-materiais-block {
    border-top-right-radius: 20px;
}

.drop-list-block-link:hover {
    background-color: #F94181;
    padding-left: 16px;
    width: 100px;
    cursor: pointer;
}

.dropdown:is(:hover, :focus-within) .dropdown-content {
    display: block;
}

.dropdown:is(:hover, :focus-within) .dropdownOp {
    opacity: 100%;
}

/* auchbwubqcbwhadcbuhabwchbdhucbahudcba
        cartao
auchbwubqcbwhadcbuhabwchbdhucbahudcba */
.container-cartao {
    display: grid;
}
.gc-item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}